*{margin: 0; padding: 0;}
#wrapper{
    width: 1200px;
    margin: 0 auto;   
}
.header-0{
    display: block;
}
.header-0 img{
    width: 50px;
    height: 50px;
    clear: both;
    float: left;
}
.header-0 h2{
    margin: 20px 0px 0px 15px;
    float: left;
    color: greenyellow;
}
.header-1{
    width: 1200px;
    float: left;
    margin-top: 50px;
}
.header-1 marquee{
    color: hotpink;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 25px;
}
.header-1 h2{
    text-align: center;
    color: rgb(50, 51, 46);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
.books-wrapper{
    display: block;
    float: left;
    clear: both;
}
.books{
    margin-top: 50px;
    width: 350px;
    display: block;
    float: left;
    margin-right: 50px;
}
.books img{
    width: 350px;
    height: 300px;
    float: left;
    clear: both;
}.books p{
    color: tomato;
    font-size: 20px;
    float: left;
    font-weight: bolder;
}
.books h3{
    color: tomato;
    float: left;
    padding-left: 20px;
}
.books-inner button{
    width: 350px;
    background-color: yellow;
    padding: 5px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 10px;  
}
.cart{
    display: block;
    width: 400px;
    height: 500px;   
}
.cart button{
    padding-top: 40px;
    border: none;
    float: left;  
}
.cart img{
    width: 50px;
    height: 50px;
}
.products{
    float: left;
    margin: 30px 0px 0px 30px;
    color: tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.products h3{
    padding-top: 20px;
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.products ul{
    list-style-type: none;
    color: rgb(85, 72, 75);
    font-size: 27px;
}